/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Hind|Pacifico");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #ff4655;
$secondary-color: #2a3132;
$tertiary-color: #90afc5;
$font-primary: Pacifico;
$font-secondary: Hind;
$font-tertiary: Raleway;

$font-heading: Montserrat;